<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('style') %>
    <title>登录</title>
    <style>
      .form-item {
        padding: 10px;
      }
      .form-item .btn-primary {
        width: 100%;
      }
      .more-operation {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-content: space-around;
        flex-wrap: wrap;
        width: 210px;
      }
    </style>
  </head>
    <body>
      <div class="page-container">
        <form action="/admin/login" method="post">
          <div class="form-item">
            <label for="email">邮箱</label>
            <input type="text" name="email" id="email" required>
          </div>
          <div class="form-item">
            <label for="password">密码</label>
            <input type="password" name="password" id="password" required>
          </div>
          <!-- 点击登录后，怎样界面不直接跳转呢？应该获取返回的参数 -->
          <div class="form-item">
            <input class="btn btn-primary" type="submit" value="登录">
          </div>
        </form>
        <div class="more-operation">
          <a href="/registor">立即注册</a>
          <a href="/forget">找回密码</a>
        </div>
      </div>
    </body>
</html>
