<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('style') %>
    <title>登录</title>
  </head>
    <body>
      <div class="page-container">
        <form action="/admin/login" method="post" class="form-example">
          <div class="form-example">
            <label for="email">邮箱</label>
            <input type="text" name="email" id="email" required>
          </div>
          <div class="form-example">
            <label for="password">密码</label>
            <input type="password" name="password" id="password" required>
          </div>
          <div class="form-example">
            <input type="submit" value="登录">
          </div>
        </form>
        <a href="/register">注册</a>
        <a href="/forget">忘记密码</a>
      </div>
    </body>
</html>
